*.vo
*.d
*.glob
*.pyc
tree.dot
tree.ps
tree.pdf
tree.svg
doc.ps
doc/html/*
coqdoc.css
.docdepend
.doclist
deps
.sconsign.dblite
coqidescript
*.new
*#
deps.dot
deps.pdf
*.native
*.aux
*.crashcoqide
*.cmi
*.cmo
*.cmx
*.cmxs
*.byte
*.ml.d
*.o
plot.pgm
coqdoc
*.native
*.aux

