*.vo
*.d
*.glob
*.pyc
tree.dot
tree.ps
tree.pdf
tree.svg
doc.ps
doc/html/*
coqdoc.css
.docdepend
.doclist
deps
.sconsign.dblite
coqidescript
*.new
*#
deps.dot
deps.pdf
*.crashcoqide
dump
plot.pgm
coqdoc
